<div class="container-fluid container-fixed-lg footer">
    <div class="copyright sm-text-center">
        <p class="small no-margin pull-left sm-pull-reset">
            
        </p>
        <p class="small no-margin pull-right sm-pull-reset">
            <a href="#">Emanuel Porres </a>
            <span class="hint-text"> - April 2020 </span>
        </p>
        <div class="clearfix"></div>
    </div>
</div>